
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
.awesome{
    background-color: rgb(255, 255, 255);
    padding: 30px 0;

  }
   .title-awesome{
    color:#000000;
    font-size: 36px;
    margin:70px auto 0;
    text-align: center;
    font-family: 'Raleway';
    line-height: 42px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    font-weight: 400;

  }
    .title-awesome::after{
    content: "";
    display: block;
    position: relative;
    width: 170px;
    height: 1px;
    margin:65px auto 0;
    background-color: #EC7979;
    
}
.description-awesome{
    text-align: center;
    color: rgba(134, 135, 139, 1);
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway';
    line-height: 21px;
    margin: 41px 0 60px 0;
   
}
.awesome-wrap{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;   
   
}
.awesome-item-img{
    width: 350px;
    margin: 0 15px;
}

.awesome-item-icon{
    width: 92px;
    height: 92px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 1px solid #EC7979;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    margin: auto;
       
}
.awesome-item-icon:hover {
    transform: scale(1.2);
    border: 3px solid #EC7979;
    box-shadow: 0px 0px 25px 1px #EC7979;
  }

.fa-lightbulb{
   font-size: 50px;
   margin: auto;
   color: #EC7979;
}

.fa-keyboard{
    font-size: 50px;
    margin: auto;
    color: #EC7979;
 }

.fa-bolt{
    font-size: 50px;
    margin: auto;
    color: #EC7979;
 }
.awesome-item-title{
    font-style:normal;
    margin-top: 39px;
    margin-bottom: 58px;
    text-align: center;
    line-height: 33px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    
}
.awesome-title-text{
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
}