* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  .section-axit {
    padding: 15px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/pictores/image-6.png);
    position: relative;
        
  }
  .section-axit::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #0000008c;
    left: 0;
    top: 0;
  }
  .container-axit{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    z-index: 1;
  }
  .wrap-axit{
    display: flex;
    margin: 0 -15px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 183px 0 185px;
  }

  .awesome-axit{
    display: flex;
    max-width: 670px;
    flex-direction: column;

  }
  .title-axit{
    display: block;
    width: 102px;
    color: #ffff;
    font-size: 55px;
    text-transform: uppercase;
    font-family: "Raleway";
    position: relative;
       
  }
  .title-axit::after{
    content: "IT";
    color:#EC7979;
    font-size: 55px;
    }
  
 
  .subtitle-axit{
      width: 670px;
      color: rgba(255, 255, 255, 1);
      font-family: 'Raleway';
      font-size: 48px;
      box-sizing: border-box;
      font-weight: 500;
      line-height: 56px;
      align-items: center;
      text-transform: uppercase;
      margin-top: 73px;
      
   }
   .subtitle-axit::after{
	 content: "";
   display: block;
	 position: relative;
	 width: 170px;
	 height: 1px;
	 background-color: #fff;
   margin: 55px 0 42px;
     
     
	}
    
    .discription-axit{
    display: block;
    width: 270px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-family: 'Raleway';
    
    
  } 
    .awesome-axit-banner{
    display: block;
    width: 470px;
    height: 430px;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 40px 0 0 0;
    margin: 0 15px;
    overflow: hidden;
        
     }
     .title-banner{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    display: block;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-transform: capitalize;
    }
    .color-text{
      color: #EC7979;
    }
   
    .axit-fields{
    display: block;
    width: 370px;
    height: 68px;
    outline: none;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 100%;
    margin: 0 0 0 50px;
    } 
    .axit-name-user{
      width: 100%;
      height: 19px;
      resize: none;
      border: none;
      border-bottom: 1px solid #bdbdbd;
      outline: none;
      font-size: 14px;
    }
    .axit-name{
    display: block;
    font-size: 14px;
    color: #bdbdbd;
    line-height: 19px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    }

  .awesome-button{
    width: 470px;
    height: 68px;
    background-color: #EC7979;
    font-size: 15px;
    color:#ffffff;
    font-family: Open Sans;
    line-height: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    border: 0;
    margin-top: 50px;
            
  }
  .awesome-button:hover{
    display: block;
    border:2px solid rgba(189, 189, 189, 1);;
    color:rgba(189, 189, 189, 1);
    transition: 0.2s;
    font-size: 25px;

  }
  #password{
      margin-bottom: 75px;
      name: login;
  }

  .link-wrap{
    width: 270px;
    height: 58px;
    border: 1px solid #FFFFFF;
    font-size: 18px;color:#ffffff;
    font-family: Open Sans;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #ffffff;
    line-height: 25px;
    position: relative; 
    padding: 11px 0;
    margin-top: 42px;
   
    
}
.link-wrap:hover{
  display: block;
  height: 58px;
  width: 270px;
  background-color: #fff;
  color:#EC7979;
  transition: 0.2s;
}
