@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }

.social {
    background-color: rgba(248, 239, 239, 1);
    padding: 15px 0;
}
.social-wrap {
    display: flex;
    margin: 0 -15px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.social-awesome {
    width:365px;
}
.title-social {
    color: rgba(51, 51, 51, 1);
    font-size: 24px;
    line-height: 31px;
    text-transform:capitalize;
    font-family: "Open Sans";
    }

.social-discription {
    font-family: "Raleway";
    color: rgba(134, 135, 139, 1);
    font-size: 18px;
    line-height: 21px;
}

.social-awesome-links{
    width: 684px;
}

.social-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;

}

.fa-facebook {
    color: rgba(134, 135, 139, 1);
    font-size: 60px;
   
}
.fa-facebook:hover{
    color:  #3b5998;
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}
.fa-twitter-square {
    color: rgba(134, 135, 139, 1);
    font-size: 60px;
}
.fa-twitter-square:hover{
    color:  #00acee;
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}


.fa-linkedin {
    color: rgba(134, 135, 139, 1);
    font-size: 60px;
}
.fa-linkedin:hover{
    color:  #0e76a8;
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}
.fa-pinterest-square {
    color: rgba(134, 135, 139, 1);
    font-size: 60px;
}
.fa-pinterest-square:hover{
    color:  #c8232c ;
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}

.fa-instagram-square {
    color: rgba(134, 135, 139, 1);
    font-size: 60px;
}
.fa-instagram-square:hover{
    color:  #3f729b  ;
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}

.fa-github-square {
    color: rgba(134, 135, 139, 1);
    font-size: 60px;
    
}
.fa-github-square:hover{
    color:  #131314  ;
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}

.fa-stumbleupon-circle {
    color: rgba(134, 135, 139, 1);
    font-size: 60px;
}
.fa-stumbleupon-circle:hover{
    color:  #e9380c  ;
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-10deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-10deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-10deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-10deg); }
  }
   


