* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }

  .tabs {
    background-color: rgb(255, 255, 255);
    padding: 50px 0 10px;
}
input[type="radio"] { 
    display: none;
 }


.wrap-tabs {
    display: flex;
    width: 100%;
}
.tabs {
    display:flex;
    width: 100%;
   }
   .tab{
       width: 210px;
   }
   input[type="radio"] { display: none; }
  
   .tabs-title {
    background: rgb(253, 253, 253); 
    padding: 5px 10px; 
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    width: 201px;
   }
   
   .tabs-content {
    position: absolute; /* Абсолютное позиционирование */
    border: 1px solid rgb(194, 193, 193); /* Параметры рамки */
    padding: 10px; /* Поля вокруг текста */
    left: 0; /* Размещаем у левого края */
    width: 201px; /* Ширина содержимого */
    display: none; /* Прячем вкладку */
    
    
   }
   .tab :checked + .tabs-title {
    position: relative; /* Относительное позиционирование */
    background: #fff; /* Цвет фона */
    top: 1px; /* Сдвигаем вниз */
    z-index: 1; /* Отображаем поверх содержимого */
    border: 1px solid rgb(194, 193, 193);
    border-bottom: none;
    
    
   }
   .tab :checked ~ .tab-content {
    display: block; /* Показываем активную вкладку */
        
   }

   .tab-item{
    display: flex;
    border: 1px solid rgb(194, 193, 193);
    
   }
   .tab-content{
    max-width: 695px;
    padding: 42px 20px 20px 100px;
    
      
}
.tab-img{
    min-width: 470px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;

}


   .tab-title{
    color:#000000;
    font-size: 30px;
    
    font-family: 'Open Sans';
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    text-transform:capitalize;
    font-weight: 700;
    margin-bottom: 72px;

   }
.tab-discription{
    margin-top: 27px;
    line-height: 21px;
    font-size: 1.25rem;
    font-family: 'Raleway';
}
.tab-buttom{
    background-color: #EC7979;
    width: 270px;
    border: 1px solid #FFFFFF;
    font-size: 18px;color:#ffffff;
    font-family: Open Sans;
    text-align: center;
    display: block;
    text-decoration: none;
    color: #ffffff;
    line-height: 25px;
    position: relative; 
    padding: 11px 0;
    margin-top: 42px;
}
.tab-buttom:hover{
    display: block;
    width: 270px;
    background-color: #EC7979;
    color:#383535;
    transition: 0.2s;
    padding: 11px 0;
  }
  
 
  