@import url('../css/widght.css');
@import url('../css/pricing.css');

* {
    /* color: coral;
    font-size: 24px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  .section-pricing{
    background-color: #F5F5F5;
    width: 1508px;
    padding: 80px 0 50px;
  }
  .title-pricing{
    box-sizing: border-box;
    color:#000000;
    font-size: 36px;
    margin: 15px auto 25px;
    text-align: center;
    font-family: 'Raleway';
    text-transform:uppercase;

}
.title-pricing::after{
content: "";
	position: absolute;
	top: 200px;
    width: 170px;
	left: 671px;
	right: 499px;
    height: 1px;
	background-color: #EC7979;
}
.description-pricing{
    margin:110px auto;
    text-align: center;
    color: #86878B;
    font-size: 18px;
    font-family: 'Raleway';
    height: 21px;
}