.costumers-item {
width: 370px;
background-color:#ffffff;
display: flex;
flex-wrap:wrap;
position: relative;
}
.costumers-item::after {
    content: '';
    border-left: 30px solid transparent; 
    border-right: 30px solid transparent; 
    border-top: 40px solid #E2E2E2;
    position: absolute;
    left:80px;
    bottom: 222px;
    width: 0;
    height: 0;
}

.costumers-item-text {
width: 370px;
height: 180px;
background-color: #E2E2E2;
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
align-items: center;
text-align: center;
color: #86878B;
margin-top: 38px;
margin-bottom: 37px;
border-radius: 10px;
padding-top: 38px;
padding-bottom: 37px;

}
.costumers-item-person {
   width: 370px;
   display: flex;
   margin-top: 66px;
}
.costumers-item-person-img {
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 1px solid #fbfafa;
    display: flex;
    margin: 0 15px;
    margin: auto;
    margin-bottom: 73px;
}
.costumers-item-person-position {
    width: 269px;
    height: 54px;
    
     
}
.person-name {
display: block;
font-family: Open Sans; 
font-weight:700;
font-size: 24px;
line-height: 33px;

}
.person-position {
    margin-top: 42px;
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;  
    font-size: 18px;
    line-height: 21px;

}