
.awesome-wrapper{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
       
   
}
.awesome-item-img{
width: 350px;   
}

.awesome-item-icon-1{
    width: 92px;
    height: 92px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 1px solid #EC7979;
    display: flex;
    margin: 0 15px;
    margin: auto;
    margin-bottom: 73px;
    
    
}
.displayed-1 {
    
    margin: 8px auto;
}
          

.awesome-item-icon-2{
    width: 92px;
    height: 92px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    margin: auto;
    border: 1px solid #EC7979;
    margin-bottom: 73px;
    
          
}
.displayed-2 {
    
    margin: 20px auto;
}

.awesome-item-icon-3{
    width: 92px;
    height: 92px;
    border-radius: 50%; 
    overflow: hidden;
    margin: auto;
    display: flex;
    border: 1px solid #EC7979;
    margin-bottom: 73px;
    
    
}
.displayed-3 {
    
    margin: 15px auto;
}
.awesome-item-title{
    font-style:normal;
    margin-top: 39px;
    margin-bottom: 58px;
    text-align: center;
    line-height: 33px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    
}
.awesome-title-text{
    
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    
}