.costumers-item {
width: 370px;
background-color:#ffffff;
display: flex;
flex-wrap:wrap;
position: relative;
}


.costumers-item-text {
width: 370px;
background-color: #E2E2E2;
font-family: Raleway;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #86878B;
border-radius: 10px;
padding:38px 15px 37px 15px;
padding-bottom: 37px;
position:relative;
margin-bottom: 66px;
}
.costumers-item-text::after{
    content: '';
    display: block;
    border-left: 22px solid transparent; 
    border-right: 22px solid transparent; 
    border-top: 25px solid #E2E2E2;
    position: absolute;
    left:80px;
    top: 100%;
}
.costumers-item-person {
   width: 370px;
   display: flex;
   margin-top: 66px;
   margin: auto;
   justify-content: space-between;
}
.costumers-item-person-img {
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    overflow: hidden; 
    border: 1px solid #fbfafa;
    display: flex;
    margin: 0 15px; 
    margin: auto;
    margin-bottom: 73px;
}
.costumers-item-person-position {
    width: 269px;
    height: 54px;
    
     
}
.person-name {
display: block;
font-family: Open Sans; 
font-weight:700;
font-size: 24px;
line-height: 33px;

}
.person-position {
    margin-top: 42px;
    display: block;
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;  
    font-size: 18px;
    line-height: 21px;

}