@import url('../css/widght-3.css');
@import url('../css/pricing.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  .section-pricing{
    background-color: #F5F5F5;
    padding: 15px 0 50px;
    margin: auto;
  }
  .title-pricing{
   display: block;
    color:#000000;
    font-size: 36px;
    margin-top: 50px; 
    text-align: center;
    font-family: 'Raleway';
    text-transform:uppercase;
    

}
.title-pricing::after{
  content: "";
  display: block;
	position: relative;
	top:60px;
  width: 170px;
  height: 1px;
  margin: auto;
	background-color: #EC7979;
}
.description-pricing{
    margin: 100px 79px;
    text-align: center;
    color: #86878B;
    font-size: 18px;
    font-family: 'Raleway';
    height: 21px;
}