@import url('../css/item.css');
@import url('../css/style-4.css');
@import url('../css/style-2.css');
@import url('../css/style-3.css');
@import url('../css/style-5.css');
@import url('../css/header.css');
@import url('../css/style-6.css');
@import url('../css/social.css');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }

 