* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  .section-design{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px 15px 50px 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../img/pictores/image.png);
    position: relative;
    
    
     

  }
  .section-design::after{
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      
  }
  .title-design{
    box-sizing: border-box;
    color:#ffffff;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    font-family: 'Raleway';
    text-transform:uppercase;
    margin: auto;
    
  }
  .title-design::after{
	content: "";
  display: block;
	position: relative;
	top: 60px;
  width: 170px;
	height: 1px;
	background-color: #FFFFFF;
  margin: auto;
  
	}
    .container-design{
    position: relative;
    padding: 0;
    margin:auto;
    z-index: 1;
    }
    .description-design{
    width: 1169px;
    margin:100px auto;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-family: 'Raleway';
    height: 21px;
    position: relative;
    }
    .link{
        width: 370px;
        height: 58px;
        border: 1px solid #FFFFFF;
        font-size: 18px;color:#ffffff;
        font-family: Open Sans;
        line-height: 25px;
        margin: auto;
        text-align: center;
        display: block;
        text-decoration: none;
        color: #ffffff;
        line-height: 58px;
        position: relative;
        
        color:#ffff;
        
    }
    .link:hover{
      display: block;
      width: 370px;
      height: 58px;
      background-color: #fff;
      color:#EC7979;
      transition: 0.2s;
    }
    
