* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
  }
  .section-costumers{
    background-color: #ffffff;
    padding: 50px 15px 50px 15px;
    margin: auto;
    
  }
  .title-costumers{
    box-sizing: border-box;
    color:#000000;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    font-family: 'Raleway';
    text-transform:uppercase;
    
  }
    .title-costumers::after{
	content: "";
  display: block;
	position: relative;
	top: 60px;
  width: 170px;
	height: 1px;
	background-color: #EC7979;
  margin: auto;
	}


.description-costumers{
    margin:100px auto;
    text-align: center;
    color: #86878B;
    font-size: 18px;
    font-family: 'Raleway';
    height: 21px;
}

.container-costumers{
    max-width: 1171px;
    padding: 0;
    margin: auto;
}
.costumers-wrap{
    max-width: 1171;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: auto;
}

