@import url('../css/widght.css');
@import url('../css/awesome.css');


* {
    /* color: coral;
    font-size: 24px; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  .section-awesome{
    padding: 60px 116px;
    display: block;

  }
  .container-awesome{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .title-awesome{
    
    color:#000000;
    font-size: 36px;
    margin: auto;
    text-align: center;
    font-family: 'Raleway';
    line-height: 42px;
  }
    .title-awesome::after{
    content: "";
    display: block;
    margin: auto;
    position: relative;
    top: 60px;
    width: 170px;
    height: 1px;
    background-color: #EC7979;
    
}
.description-awesome{
   margin-bottom:68px;
    text-align: center;
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway';
    line-height: 21px;
    margin-top: 100px;
}
