@import url('../css/widght.css');
@import url('../css/awesome.css');


* {
    /* color: coral;
    font-size: 24px; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  .section-awesome{
padding: 54px 0 58px;
display: block;

  }
  .container-awesome{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
  }
  .title-awesome{
    box-sizing: border-box;
    color:#000000;
    font-size: 36px;
    margin: 25px auto 25px;
    text-align: center;
    font-family: 'Raleway';
}
.description-awesome{
   margin-bottom:68px;
    text-align: center;
    color: #86878B;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Raleway';
    line-height: 21px;
}
